<h1 align="center"> Login </h1>

<div class = "row card card-body bg-light mt-3">
    <div class = "col-xl-12">
        <%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>
            <div class = "form-group row mt-3">
                <div class="control-label col-xl-2 col-form-label">
                    <%= f.label :email %>
                </div>
                <div class="col-xl-10">
                    <%= f.email_field :email, class: "form-control", placeholder: "Enter email", autofocus: true %>
                </div>
            </div>

            <div class = "form-group row">
                <div class="control-label col-xl-2 col-form-label">
                    <%= f.label :password %>
                </div>
                <div class="col-xl-10">
                    <%= f.password_field :password, class: "form-control", placeholder: "password", autocomplete: "off" %>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xl-2 offset-xl-5" >
                    <%= f.submit "Log in", class: 'btn btn-primary btn-lg' %>
                </div>
            </div>

        <% end %>
        <div class="form-group row">
            <div class="col-xl-4 offset-xl-4">
                [ <%= link_to "Cancel request and return to articles listing", articles_path %> ]
            </div>
        </div>
    </div>
</div>