<h1 align = "Center", class="mt-3">Wel Come to <%= @user.username%>'s blog.</h1>
<div class="row">
    <div class="col-xl-4 offset-xl-4 mt-3", align= "center">
        <%= gravatar_for @user, size: 150 %>
    </div>
</div>
<h4 align="center", class="mt-4"><%= @user.username %>'s articles</h4>

<%= render 'articles/article', obj: @user.articles %>
<div class="offset-xl-5 mt-4">
        <%= will_paginate @user_articles%>
</div>